#!/bin/bash

if pgrep -u {{ user_name }} -x "Xtigervnc" > /dev/null; then
    echo "vncserver kill"
    vncserver -kill :5{{ display }}
fi

vncserver :5{{ display }}
if [ $? -eq 0 ]; then
    echo "vncserver success"
    /home/{{ user_name }}/catkin_ws/src/setting/novncd/utils/novnc_proxy --vnc localhost:595{{ display }} --listen 0.0.0.0:{{ ip_port }}
else
    echo "!! VNCSERVER FAILED !!"
fi